Flask==2.3.3
Flask-Bootstrap5==0.1.dev1
Flask-Login
Flask-SQLAlchemy
Flask-CKEditor
Flask-Gravatar
Flask-WTF
Werkzeug==2.3.7
python-dotenv
gunicorn
psycopg2-binary
requests
SQLAlchemy
email-validator
bleach
